<h2><%= t "edit" %><%= resource_name.to_s.humanize %></h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: {method: :put} do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %> 
        <i><%= t "status" %></i><br>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> 
        <i><%= t "status_comfirm" %></i><br>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit t("Update"), class: "form-control"%>
      </div>
    <% end %>

    <h3><%= t "cancel_my_account" %></h3>

    <p><%= button_to t("cancel_my_account"), registration_path(resource_name),
      data: {confirm: t "are_you_sure"}, method: :delete, class: "form-control" %></p>
    <%= link_to t("back"), :back %>
  </div>
</div>


