<div class="comment_<%= comment.id %>">
  <hr>
  <span><%= link_to comment.user.email, comment.user %></span>
  <span class="content">
    <%= best_in_place comment, :content %><br>
  </span>
  <span>
    <i>
      <%= t("time_ago", count: time_ago_in_words(comment.created_at)) %>
    </i>
    <% if can?(:destroy, comment) %>
      <%= link_to t("delete"), comment, method: :delete %>
    <% end %>
  </span>
</div>
