<% provide :title, @user.name %>
<h1><%= t ".activities" %></h1>
<div class="row">
  <aside class="col-md-4">
    <%= render "users/show_follow" %>
    <div class="col-md-4">
      <%= render "follow_form" unless current_user == @user %>
    </div>
  </aside>
  <div class="col-md-8">
    <ul class="activities">
      <%= render @activities %>
    </ul>
    <%= will_paginate @activities %>
  </div>
</div>
