<% provide :title, t(".title") %>
<h2><%= t ".title" %></h2>
<table class="table table-bordered">
  <tr>
    <th class="bok-column"><%= t ".book_name" %></th>
    <th class="aut-column"><%= t ".author" %></th>
    <th class="des-column"><%= t ".description" %></th>
    <th class="stt-column"><%= t ".status" %></th>
    <th class="dtr-column"></th>
  </tr>
  <%= render @requests %>
</table>
<%= t(".no_request_show") unless Request.list_request_of(current_user).count > 0 %>
<div>
  <%= link_to t(".create"), new_user_request_path, "data-toggle" => "modal",
    remote: true, "data-target" => "#request_form-modal",
    class: "btn btn-primary btn-lg" %>
</div>
<%= will_paginate %>

<div class="modal fade" id="request_form-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">
          &times;
        </button>
        <h2 class="modal-title"><%= t ".create" %></h2>
      </div>
      <div class="modal-body">
        <%= render "new_request_form" %>
      </div>
    </div>
  </div>
</div>
