<div class="row-fluid">
  <div class="col-md-3">
    <div class="book">
      <% if book.picture? %>
        <%= link_to image_tag(book.picture.url, height: Settings.picture.height, width: Settings.picture.width, class: "book-cover"), book %>
      <% else %>
        <%= link_to image_tag(Settings.default_image, height: Settings.picture.height, width: Settings.picture.width, class: "book-cover"), book %>
      <% end %>
      <br>
      <div class="name_book"><%= link_to truncate(book.title, length: Settings.title_length), book %></div>
      <%= t "book.author" %>:
      <span class="author">
        <%= book.author %>
      </span>
    </div>
  </div>
</div>
