<div class="container">
  <br>
  <div class="col-md-4">
    <p id="notice"><%= notice %></p>
    <% if @book.picture? %>
      <%= image_tag(@book.picture.url, height: Settings.picture.height_n, width: Settings.picture.width_n, class: "book-cover") %>
    <% else %>
      <%= image_tag(Settings.default_image, height: Settings.picture.height_n, width: Settings.picture.width_n, class: "book-cover") %>
    <% end %>
    <p>
      <strong><%= t "title.title" %>:</strong>
      <%= @book.title %>
    </p>
    <p>
      <strong><%= t "title.publish_date" %>:</strong>
      <%= @book.publish_date.day %>/<%= @book.publish_date.month %>/<%= @book.publish_date.year %>
    </p>
    <p>
      <strong><%= t "title.author" %>:</strong>
      <%= @book.author %>
    </p>
    <p>
      <strong><%= t "title.category" %>:</strong>
      <%= @book.category.name %>
    </p>
    <p>
      <strong><%= t "title.number_page" %>:</strong>
      <%= @book.number_page %>
    </p>
    <p>
      <%= render "favorite_form" if signed_in? %>
      <div class = "star-rating" data-score= <%= @book.rating %> ></div>
    </p>
    <p>
      <div class="col-md-12">
        <div class="btn-group">
          <%= render "reading" if signed_in? %>
        </div>
      </div>
    </p>
  </div>
  <div class="col-md-8">
    <p>
      <div class="title-head"><%= t "title.description" %></div>
      <div class="text-justify"><em><%= @book.description %></div>
    </p>
    <br>
    <% if signed_in? %>
      <div class="title-head"><%= t("title.write_review") %></div>
      <%= form_for [@book, @review], html: {multipart: true} do |f| %>
        <div class="field">
          <div class = "star-rating-review"></div>
          <br>
          <%= f.text_field :content, placeholder: t("title"), class: "form-control" %>
          <%= f.text_area :thesis_statement, placeholder: t("compose_new_body"),
            class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.submit t("post"), class: "btn btn-default" %>
        </div>
      <% end %>
    <% end %>
    <br>
    <%= render @reviews.review %>
  </div>
</div>
