<p id="notice"><%= notice %></p>

<h1><%= t "admin.category.name" %></h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t "title.name" %></th>
      <th><%= t "title.category.content" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @categories %>
  </tbody>
</table>
<%= will_paginate %>
<br>

<%= link_to t("admin.category.create"), new_admin_category_path %>
