<% provide :title, t("admin.admin_title") %>
<h1><%= t "admin.admin_title" %></h1>
<h3><%= link_to t("admin.manage_users"), admin_users_path %></h3>
<h3><%= link_to t("admin.manage_books"), admin_books_path %></h3>
<h3><%= link_to t("admin.manage_categories"), admin_categories_path %></h3>
<h3>
  <%= link_to admin_requests_path do %>
    <%= t "admin.manage_request" %>
    <% if Request.requesting.count >0 %>
      <span class="badge">
        <%= Request.requesting.count %>
      </span>
    <% end %>
  <% end %>
</h3>
