<hr>
<span><%= link_to review.user.email, review.user %></span>
<span class="content">
  <div class = "star-rating" data-score= <%= review.rating %> ></div>
  <%= review.content %><br>
  <%= review.thesis_statement %><br>
</span>
<i>
<%= t("time_ago", count: time_ago_in_words(review.created_at)) %>
</i>
<% if can?(:destroy, review) %>
  <%= link_to t("delete"), review, method: :delete %>
<% end %>
<%= render "comments/form", review: review %>
<br>
<div class="col-md-10 col-md-offset-1">
  <div id="comments_of_review_<%= review.id %>" class="row">
    <%= render review.comments.comment %>
  </div>
</div>
